<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appSettings>
    <add key="STORY" value="Oi Lucas, como vai você? Acho que sei contar a história do cavaco chinês, você quer ouvir? Era uma vez..." />
    <add key="CULTURE_INFO" value="pt-BR" />
  </appSettings>
</configuration>
